runs/
/src/outputs/extracted_frames/
/src/outputs/found_frames/
src/outputs/annotated_frames/
src/old_prototypes
src/yolov8n.pt
src/project/*/__pycache__/
src/project/outputs/*.json
/src/outputs/
src/examples/
src/project/detections.db
src/project/*.log
src/project/detections.*
src/project/venv/
src/project/env/
.env/

src/project/detections.db
src/project/outputs/
src/project/vector_database/
src/tests/*

.vscode/
app_profile.prof

src/project/outputs/*
src/project/uploads/